@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Baloo Chettan 2', sans-serif;
	font-size: 16px;
	background: rgb(43,4,77);
	background: linear-gradient(90deg, rgba(43,4,77,1) 0%, rgba(202,196,255,1) 100%);
	margin: 25px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.25);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Chat Page */

.chat-container {
	display: none;
	opacity: 0;
	max-width: 1100px;
	background-color: rgba(0, 0, 0, 0.3);  
 	backdrop-filter: blur(1px);
	/* margin: 30px auto; */
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

	margin: 0 auto;
	transition: all 0.3s ease;
}

.chat-header {
	color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	min-width: 130px;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 10px;
	padding: 10px 10px 10px 20px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 10px;

	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	-moz-animation: fadeIn 1s;
	-o-animation: fadeIn 1s;
	-ms-animation: fadeIn 1s;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	padding: 20px 30px;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 20px;
	height: 40px;
	width: 100%;
	border: 0;
	border-radius: 20px;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.10);
	outline: none;
	transition: all 0.3s ease;
}

.chat-form-container input[type='text']:hover {
	box-shadow:0 0 15px 4px rgba(255, 255, 255, 0.2);
}

.logout-btn {
	background-color: white;
	color: black;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	width: 50px;
	border-radius: 50px;
	text-align: center;

	box-shadow:0 0 15px 4px rgba(0,0,0,0.10);
	transition: all 0.3s ease;
}

.logout-btn:hover {
	box-shadow:0 0 15px 4px rgba(255, 255, 255, 0.2);
	animation: rotate 0.5s ease-in-out;
}

.send-btn {
	background-color: white;
	color: black;
	margin-left: 5px;
	font-size: 22.5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	border: 0;
	width: 60px;
	border-radius: 50px;
	text-align: center;
	cursor: pointer;

	box-shadow:0 0 15px 4px rgba(0,0,0,0.10);
	transition: all 0.3s ease;
}

.send-btn:hover {
	box-shadow:0 0 15px 4px rgba(255, 255, 255, 0.2);
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

/* Join Page */

.join-container {
	display: none;
	opacity: 0;
	max-width: 500px;
	/* margin: 80px auto; */
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 50%;
  	height: 50%;
	color: #fff;
	transition: all 0.3s ease;
}

.join-header {
	text-align: center;
	padding: 20px;
	/* background: var(--dark-color-a); */
	background-color: rgba(255, 255, 255, 0.10);  
 	backdrop-filter: blur(1px);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	transition: all 0.3s ease;
}

.join-main {
	padding: 25px 50px 25px;
	/* background: var(--dark-color-b); */
	background-color: rgba(0, 0, 0, 0.3);  
 	backdrop-filter: blur(1px);
	
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: all 0.3s ease;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 20px;
	height: 40px;
	width: 100%;
	border: 0;
	border-radius: 20px;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.10);
	outline: none;
	transition: all 0.3s ease;
}

.join-main input[type='text']:hover {
	box-shadow:0 0 15px 4px rgba(255, 255, 255, 0.2);
}

.join-main select {
	font-size: 16px;
	padding: 10px;
	height: 40px;
	width: 100%;
	border: 0;
	border-radius: 20px;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.10);
	outline: none;
	transition: all 0.3s ease;
	cursor: pointer;
}

.join-main select:hover {
	box-shadow:0 0 15px 4px rgba(255, 255, 255, 0.2);
}

.join-main .login-btn {
	background-color: white;
	color: black;
	font-size: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	width: 55px;
	border-radius: 50px;
	text-align: center;

    display: block;
    margin: 40px auto;
	cursor: pointer;

	box-shadow:0 0 15px 4px rgba(0,0,0,0.10);
	transition: all 0.3s ease;
}

.login-btn:hover {
	box-shadow:0 0 15px 4px rgba(255, 255, 255, 0.2);
	animation: rotate 0.5s ease-in-out;
}

@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}

	.join-container {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		height: 115%;
	}
}
